.scrollbar-container::-webkit-scrollbar {
  height: 12px;
  background-color: #2d2d2d;
}

.scrollbar-container::-webkit-scrollbar-thumb {
  background-color: #FF69B4;
  border-radius: 6px;
  border: 2px solid #2d2d2d;
}

.scrollbar-container::-webkit-scrollbar-thumb:hover {
  background-color: #ff4da6;
}

.scrollbar-container::-webkit-scrollbar-track {
  background-color: #2d2d2d;
  border-radius: 6px;
}